.host
  +mobile
    overflow: auto
  .host_view
    display: flex
    flex-flow: row nowrap

    +mobile
      flex-flow: column nowrap

    .left_side
      position: relative
      width: 50%
      height: 100%
      height: 100vh
      padding: 90px 0

      display: flex
      flex-flow: column nowrap
      justify-content: center
      align-items: center

      +mobile
        width: 100%
        height: initial
        min-height: 100%
        min-height: 100vh

      .bg
        background: url(../images/host.jpg) center 10% no-repeat
        background-size: cover
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        z-index: 2
        -webkit-backface-visibility: hidden

      .description
        position: relative
        z-index: 3
        color: #fff
        width: 80%

        +mobile
          width: 100%
          padding: 0 30px

        .title
          font-size: 40px
          color: #FEFEFE
          letter-spacing: 5.35px
          line-height: 47px
          font-weight: 800

          +mobile
            font-size: 32px
            line-height: 39px

        .text,
        .text_italic
          font-size: 20px
          color: #FEFEFE
          letter-spacing: 2.5px
          line-height: 26px
          margin-top: 15px

          +mobile
            font-size: 18px
            line-height: 25px
            letter-spacing: 1.5px

        .text_italic
          font-style: italic
          margin-top: 30px


    .right_side
      background: #fff
      position: absolute
      top: 0
      bottom: 0
      right: 0
      left: 50%
      display: flex
      flex-flow: column nowrap
      align-items: center
      justify-content: space-between

      overflow-y: scroll

      +mobile
        width: 100%
        position: static

      .content
        text-align: left
        width: 80%
        height: 50%
        height: 50vh
        padding: 30px 0
        flex: 0 0 50vh
        margin-bottom: 30px

        +mobile
          height: initial
          width: 100%
          padding: 30px 30px 20px 30px
          flex: 1 0 auto
          margin-bottom: initial

        .title
          font-size: 36px
          color: #3C3D3C
          letter-spacing: 4.81px
          line-height: 43px
          border-bottom: 2px #A1252B solid
          font-weight: 800
          padding-bottom: 5px
          text-transform: uppercase

        .text
          font-size: 17px
          color: #3C3D3C
          text-align: left
          letter-spacing: 2.5px
          line-height: 22px
          margin-bottom: 25px

          +mobile
            letter-spacing: 1px

      .star_events
        flex: 0 0 auto
        width: 100%
        position: relative
        z-index: 10

        .event
          width: 100%
          font-weight: 800
          color: #fff
          padding: 22px 55px
          cursor: pointer

          display: flex
          flex-flow: row nowrap
          align-items: center
          justify-content: flex-start

          +tablet
            padding: 20px 30px

          +mobile
            padding: 20px 30px

        .event_text
          display: none
          padding: 20px 50px

          .title
            font-weight: 800
            font-size: 18px
            color: #3C3D3C
            letter-spacing: 2px
            line-height: 24px
            margin-bottom: 12px

          .subtitle
            font-style: italic
            font-size: 15px
            color: #3C3D3C
            letter-spacing: 1.5px
            line-height: 22px
            margin-bottom: 6px

          .text
            font-size: 15px
            color: #3C3D3C
            letter-spacing: 2px
            line-height: 22px

            +mobile
              font-size: 16px
              line-height: 25px

        .toggleIcon,
        .name
          font-size: 24px
          color: #FEFEFE
          letter-spacing: 4.01px
          line-height: 35px

          +mobile
            font-size: 15px
            line-height: 28px
            letter-spacing: 3.01px

        .toggleIcon
          flex: 0 0 5%

          +mobile
            flex: 1 0 8%

        .name
          flex: 0 0 52%

          +tablet
            flex: 1 0 62%

          +mobile
            flex: 1 0 52%

        .stars
          flex: 1 0 42%
          height: 26px

          +tablet
            flex: 1 0 40%
            height: 15px

          +mobile
            height: 16px
            flex: 1 0 40%

          svg
            height: 100%
            width: 26px
            margin-right: 8px

            +tablet
              margin-right: 3px
              width: 15px

            +mobile
              margin-right: 3px
              width: 16px

        .one-star
          background: #3C3D3C

        .two-star
          background: #B4B4B4

        .three-star
          background: #A1252B

        .four-star
          background: #253757

        .five-star
          background: #DBB225
