.screen
  width: 100vw
  height: 100vh
  position: absolute
  display: none
  top: 0
  left: 0
  transition: transform .4s ease
  transform: translate3d(0,100%,0)
  &.shown
    display: block

  &.visible
    transform: translate3d(0,0,0)

  &.scrolled
    transform: translate3d(0,-100%,0)


  &:nth-child(1)
    background: #ff0000
  &:nth-child(2)
    background: #00ffaa
  &:nth-child(3)
    background: #0000ff
  &:nth-child(4)
    background: #00ffff
  &:nth-child(5)
    background: #ff00ff

