.openedPost-container
  .title
    | YGN WELCOMES NEW CHIEF DEVELOPMENT OFFICER

  .date
    | FEBRUARY 07

  .subtitle
    | Your Grateful Nation Announces Stacey Crooks as Chief Development Officer.
    
  .text
    | Your Grateful Nation, a military nonprofit dedicated to the successful transition of Americas Special 
    | Operations veterans into private sector, announced today that Stacey Crooks,
    | has joined the organization as its chief development officer. Crooks, who most recently served as Senior Director of Corporate and Foundation Partnerships for Operation Homefront, will lead donor engagement strategies to create and enhance the support programs Your Grateful Nation provides service members and their families.

  .image
    img(src='images/soldier.jpg')
