doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  title YGN
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, minimal-ui, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")

  script(src="javascripts/app.js")

  script.
    require('init');

body.challenge

  include pages/menu


  .next_arrow
    include icons/arrow.svg

  .challenge_view.split
    .left_side
      .bg_wrapper_1
        .bg_1
      .bg_wrapper_2
        .bg_2



    .right_side
      .content
        .social_icons.reversed
          i.icon-facebook
            a.absolute(href="https://www.facebook.com/YGNationorg")
          i.icon-twitter
            a.absolute(href="https://twitter.com/YourGratfulNatn")
          i.icon-linkedin
            a.absolute(href="https://www.linkedin.com/company/your-grateful-nation")


        .part
          .title THE CHALLENGE
          .subtitle
            | HELP EXTRAORDINARY MEN DO
            br
            | EXTRAORDINARY THINGS

        .part
          .text.issue
            p To build awareness around the difficulties that SOF vets face when transitioning into corporate careers, and assure employers that when they hire SOF veterans everybody wins. Special Operations Forces vets face unique challenges when transitioning from military service to civilian life, and there are adjustments to be made, but we assess—and build upon—their special skill set to make sure that they are best equipped to face the challenges and demands of the modern workforce.


        .part
          .text.opportunity
            p SOF vets are ideal candidates for corporate jobs because they are dedicated, committed to a cause, and quick-thinking leaders who always bring the best to the table. We gauge their transferrable skills through a customized program specifically designed to assess their strengths and resolve their gaps so they can excel at those companies smart enough to hire them.


        .part
          .text.solution
            p Through our step-by-step SOF vets transition program, we prepare our heroes to succeed in corporate America. Our program matches the best candidates with companies who will be best served by their highly-desirable, transferrable skills. Smart companies will quickly see the tremendous value SOF vets bring to their organizations, and want to hire more SOF vets who have gone through YGN’s customized transition program.

        .points
          .point.issue THE ISSUE

          .point.opportunity THE OPPORTUNITY

          .point.solution THE SOLUTION

    .actions
      .participate
        .bg
        .title SPECIAL FORCES <br/> VETERANS
        .subtitle Are you a SFV looking for more information on our transition process?
        a.absolute(href="./transition.html")
      .or
        | OR
      .support
        .bg
        .title SUPPORTERS
        .subtitle Interested in becoming an employer, donor, mentor, or corporate partner?
        a.absolute(href="./supporter.html")

