doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  title YGN
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, minimal-ui, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")

  script(src="javascripts/app.js")

  script.
    require('init');

body.directors

  include pages/menu


  .next_arrow
    include icons/arrow.svg

  .directors_view.split
    .left_side
      .bg_1
      .directors_container

        .director
          .avatar
            img(src='images/pambrendon.jpg')
          .title PAMELA BRADEN
          .subtitle CHAIRMAN / CO-FOUNDER <br/> President & CEO, Gryphon Technologies
          .text
            | P.J. Braden is the Chief Executive Officer and founder of Gryphon Technologies, LC, a premier engineering and technical services firm providing support to National Security and Coalition Forces. Gryphon is a company that has grown to over 700 employees and $100M in annual revenue since being founded 15 years ago. It was ranked Deliotte Consulting’s prestigious Technology Fast 50 for Maryland as one of 500 fastest growing defense companies in the nation, and was hailed by Washington Business Journal’s  as one of the “Best Places to Work.”





        .director
          .avatar
            img(src='images/phil.jpg')
          .title PHIL BRONSTEIN
          .subtitle VICE PRESIDENT / CO-FOUNDER <br/> Executive Chairman, Center for Investigative Reporting
          .text
            | Phil Bronstein was named executive chair of the board of The Center for Investigative Reporting (CIR) in April 2012, when the organization merged with The Bay Citizen. Bronstein joined the CIR board in 2006 and became board chair in 2011. Previously, Bronstein was editor-at-large and director of content development for Hearst Newspapers. Before that, he was executive vice president and editor-at-large of the San Francisco Chronicle, after serving as the newspaper’s editor from 2000 to 2008. Bronstein was editor of the San Francisco Examiner, which merged with the Chronicle in 2000, from 1991 to 2000. He was a 1986 Pulitzer Prize finalist for his work in the Philippines.




        .director
          .avatar
            img(src='images/don.jpg')
          .title DON CROSBY
          .subtitle AT LARGE <br/> Former Senior Vice President of International and Corporate Human Relations, McDonalds Corporation
          .text
            | Before retiring Don Crosby served <b>Senior Vice President of International and Corporate Human Relations</b> at McDonald’s Corporation. Don started as a manager trainee in 1975 after serving in the Marine Corps. He oversaw McDonald’s home office HR division and the development of international HR strategies and plans in support of the achievement of the company’s overall corporate strategies. He served for four years in the United States Marine Corps and took business administration classes at Broome Community College. Mr. Crosby also served as a Director of Society for Human Resource Management Foundation and Chairman of the Board of the six Chicago Ronald McDonalds Houses.






    .right_side
      .content
        .social_icons.reversed
          i.icon-facebook
            a.absolute(href="https://www.facebook.com/YGNationorg")
          i.icon-twitter
            a.absolute(href="https://twitter.com/YourGratfulNatn")
          i.icon-linkedin
            a.absolute(href="https://www.linkedin.com/company/your-grateful-nation")


        .title BOARD OF DIRECTORS

        .links
          a(href="#") PAMELA BRADEN
          a(href="#") PHIL BRONSTEIN
          a(href="#") DON CROSBY
          a(href="#") GEORGIA GILLETTE
          a(href="#") TODD KOETJE
          a(href="#") LEE MOAK
          a(href="#") ROBERT J. O’NEILL
          a(href="#") CRAIG POWELL
          a(href="#") ROB ROSANIA
          a(href="#") JEFFREY J. CLARKE

