doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  title YGN
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, minimal-ui, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")

  script(src="javascripts/app.js")

  script.
    require('init');

body.events
  include pages/menu

  .events_title
    .bg
    .title EVENTS

    .text
      span
        | YOUR GRATEFUL NATION
      = " "
      | partners with a variety of organizations and individual benefactors to sponsor an array of events—from backyard barbecues to black-tie galas. All of these events raise money to help Special Forces veterans’ transition into their next successful career.
      <br/>
      | Throughout the year, and around the country, individual donors and advocates can make a difference by attending or hosting an event to benefit the brave veterans who have served our country in the Special Forces.

  .events_container
    .events_view
      .events_town.atlanta
        .bg
        .date MARCH 10
        .town ATLANTA
      .events_town.boston
        .bg
        .date MARCH 23
        .town BOSTON
      .events_town.boston
        .bg
        .date MARCH 24
        .town BOSTON
      .events_town.newyork
        .bg
        .date MARCH 31
        .town NEW YORK

    .events_yourCity
      .bg.yourCity
      span DONT SEE YOUR CITY?
      a.button(href="./host.html") HOST AN EVENT

  .overlay
    .events_modal.newyork
      .firstSection
        .firstSection-left
          .bg
          .cross
          .title NEW-YORK IS GRATEFUL

        .firstSection-right
          | One Day. Four Events. Robert J. O’Neill (former Navy SEAL Team 6) including the following events: 
          | Lorem ipsum dolor sit amet, vero solet at his, mei libris omittam ei. Pro errem scripta deseruisse 
          | te, mea no cetero iisque. Eu agam habemus vel, eum ex elit blandit. Alienum noluisse has in, id nec posse..

      .secondSection
        .secondSection-left
          .title FRIDAY, MAY 13

          .dates
            .dates-item
              .time
                | 9AM
              .event
                | SEAL Workout

            .dates-item
              .time
                | 11:30AM
              .event
                | Executive Briefing

            .dates-item
              .time
                | 3PM
              .event
                | Take the Shot

            .dates-item
              .time
                | 6:30PM
              .event
                | VIP Cocktail Hour

            .dates-item
              .time
                | 7:15PM
              .event
                | Boston is Grateful

        .secondSection-right
          .title ATTEND
          .button BUY TICKETS
          a(href="#")

      .thirdSection
        .thirdSection-event.seal-workout
          .bg
          .title SEAL WORKOUT

        .thirdSection-event.executive-briefing
          .bg
          .title EXECUTIVE BRIEFING

        .thirdSection-event.take-the-shot
          .bg
          .title TAKE THE SHOT

        .thirdSection-event.boston-is-grateful
          .bg
          .title BOSTON IS GRATEFUL
    .events_modal.atlanta
      .firstSection
        .firstSection-left
          .bg
          .cross
          .title ATLANTA IS GRATEFUL

        .firstSection-right
          | One Day. Four Events. Robert J. O’Neill (former Navy SEAL Team 6) including the following events: 
          | Lorem ipsum dolor sit amet, vero solet at his, mei libris omittam ei. Pro errem scripta deseruisse 
          | te, mea no cetero iisque. Eu agam habemus vel, eum ex elit blandit. Alienum noluisse has in, id nec posse..

      .secondSection
        .secondSection-left
          .title FRIDAY, MAY 13

          .dates
            .dates-item
              .time
                | 9AM
              .event
                | SEAL Workout

            .dates-item
              .time
                | 11:30AM
              .event
                | Executive Briefing

            .dates-item
              .time
                | 3PM
              .event
                | Take the Shot

            .dates-item
              .time
                | 6:30PM
              .event
                | VIP Cocktail Hour

            .dates-item
              .time
                | 7:15PM
              .event
                | Boston is Grateful

        .secondSection-right
          .title ATTEND
          .button BUY TICKETS
          a(href="#")

      .thirdSection
        .thirdSection-event.seal-workout
          .bg
          .title SEAL WORKOUT

        .thirdSection-event.executive-briefing
          .bg
          .title EXECUTIVE BRIEFING

        .thirdSection-event.take-the-shot
          .bg
          .title TAKE THE SHOT

        .thirdSection-event.boston-is-grateful
          .bg
          .title BOSTON IS GRATEFUL

    .events_modal.boston
      .firstSection
        .firstSection-left
          .bg
          .cross
          .title BOSTON IS GRATEFUL

        .firstSection-right
          | One Day. Four Events. Robert J. O’Neill (former Navy SEAL Team 6) including the following events: 
          | Lorem ipsum dolor sit amet, vero solet at his, mei libris omittam ei. Pro errem scripta deseruisse 
          | te, mea no cetero iisque. Eu agam habemus vel, eum ex elit blandit. Alienum noluisse has in, id nec posse..

      .secondSection
        .secondSection-left
          .title FRIDAY, MAY 13

          .dates
            .dates-item
              .time
                | 9AM
              .event
                | SEAL Workout

            .dates-item
              .time
                | 11:30AM
              .event
                | Executive Briefing

            .dates-item
              .time
                | 3PM
              .event
                | Take the Shot

            .dates-item
              .time
                | 6:30PM
              .event
                | VIP Cocktail Hour

            .dates-item
              .time
                | 7:15PM
              .event
                | Boston is Grateful

        .secondSection-right
          .title ATTEND
          .button BUY TICKETS
          a(href="#")

      .thirdSection
        .thirdSection-event.seal-workout
          .bg
          .title SEAL WORKOUT

        .thirdSection-event.executive-briefing
          .bg
          .title EXECUTIVE BRIEFING

        .thirdSection-event.take-the-shot
          .bg
          .title TAKE THE SHOT

        .thirdSection-event.boston-is-grateful
          .bg
          .title BOSTON IS GRATEFUL

.events_modalWrapper
  .events_modalInner.seal-workout
    .info
      .cross
      .title NAVY SEAL WORKOUT
      .subtitle Financial Disctrict/Downtown Crossing
      .time 8:30AM

      .text Friday morning will feature a workout at Barry’s Bootcamp, in Boston

      .text
        | Think you can really get through boot camp? Take your
        | workout to the next level as you’re joined by a group of
        | Navy SEALs to add a little extra… motivation

      .image
        img(src="images/events/bootcamp.png")

    .bottom
      .title ATTEND
      .button BUY TICKETS
      a(href="#")

  .events_modalInner.executive-briefing
    .info
      .cross
      .title EXECUTIVE BRIEFING
      .subtitle Financial Disctrict/Downtown Crossing
      .time 8:30AM

      .text Friday morning will feature a workout at Barry’s Bootcamp, in Boston

      .text
        | Think you can really get through boot camp? Take your
        | workout to the next level as you’re joined by a group of
        | Navy SEALs to add a little extra… motivation

      .image
        img(src="images/events/bootcamp.png")

    .bottom
      .title ATTEND
      .button BUY TICKETS
      a(href="#")

  .events_modalInner.take-the-shot
    .info
      .cross
      .title TAKE THE SHOT
      .subtitle Financial Disctrict/Downtown Crossing
      .time 8:30AM

      .text Friday morning will feature a workout at Barry’s Bootcamp, in Boston

      .text
        | Think you can really get through boot camp? Take your
        | workout to the next level as you’re joined by a group of
        | Navy SEALs to add a little extra… motivation

      .image
        img(src="images/events/bootcamp.png")

    .bottom
      .title ATTEND
      .button BUY TICKETS
      a(href="#")

  .events_modalInner.boston-is-grateful
    .info
      .cross
      .title BOSTON IS GRATEFUL
      .subtitle Financial Disctrict/Downtown Crossing
      .time 8:30AM

      .text Friday morning will feature a workout at Barry’s Bootcamp, in Boston

      .text
        | Think you can really get through boot camp? Take your
        | workout to the next level as you’re joined by a group of
        | Navy SEALs to add a little extra… motivation

      .image
        img(src="images/events/bootcamp.png")

    .bottom
      .title ATTEND
      .button BUY TICKETS
      a(href="#")
