doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  title YGN
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")

  script(src="javascripts/app.js")

  script.
    require('init');

body.events
  include pages/menu

  .events_title
    .bg
    .title EVENTS

    .text
      span
        | YOUR GRATEFUL NATION
      = " "
      | partners with a variety of organizations and individual benefactors to sponsor an array of events—from backyard barbecues to black-tie galas. All of these events raise money to help Special Forces veterans’ transition into their next successful career.
      <br/>
      | Throughout the year, and around the country, individual donors and advocates can make a difference by attending or hosting an event to benefit the brave veterans who have served our country in the Special Forces.

  .events_container
    .events_view
      .events_town.atlanta
        .bg
        .date MARCH 10
        .town ATLANTA
      .events_town.boston
        .bg
        .date MARCH 23
        .town BOSTON
      .events_town.boston
        .bg
        .date MARCH 24
        .town BOSTON
      .events_town.newyork
        .bg
        .date MARCH 31
        .town NEW YORK

    .events_yourCity
      .bg.yourCity
      span DONT SEE YOUR CITY?
      .button HOST AN EVENT

