doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  title YGN
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")

  script(src="javascripts/app.js")

  script.
    require('init');

body.host

  include pages/menu

  .host_view
    .left_side
      .bg
      .description
        .title HOST AN EVENT
        .text Hosting an event is great way to get involved with Your Grateful Nation. We can work with you to customize your event while maintaining the high standards of the organization. These fundraisers may range from the intimate at-home gathering to more formal receptions, but each is integral to the success of YGN and its efforts to enhance the lives of Special Forces veterans as they transition into their next successful career. We are so grateful for the support of individuals and businesses that recognize the value of our transition process and its tremendous benefits for our country’s heroes.
        .text_italic To be an official YGN fundraising event, the host(s) must agree to a minimum required donation. It is the responsibility of the host(s) to ensure the minimum donation amount is met.

    .right_side
      .content
        .title EVENTS
        .text
          | As a nonprofit YGN manages its time and resources as efficiently as possible. We’ve outlined for our hosts what they can expect from YGN based on the donation level they are comfortable committing to. Below you’ll find tiers for event levels and the corresponding minimum donation amounts as well as the resources a host can expect from YGN at each level.

        .text
          | To learn more about the various event levels, or if you have questions about the requirements for each level, please reach out to us. We’re happy to work with you to make your event a huge success.


      .star_events
        .event.one-star
          .toggleIcon
            | +
          .name
            | ONE-STAR EVENT
          .stars
            include icons/star.svg
        .event_text
          .title $10,000 guaranteed minimum donation required

          .text
            | •   Custom event link from YourGratefulNation.com
            br
            | •   “Donation Tracker” software with remote administrative support
            br
            | •   Approved press release
            br
            | •   Pre-recorded recognition video for the event from a YGN board member
            br
            | •   PDFs for fundraising collateral
            br
            | •   Approved use of brand for announcements and invites
            br
            | •   Executive Director’s donor outreach letter, customized for your event
            br
            | •   Sponsor/Donor recognition on the YGN website
            br
            | •   Thank you letters/donation recognition to mail out to attendees



        .event.two-star
          .toggleIcon
            | +
          .name
            | TWO-STAR EVENT
          .stars
            include icons/star.svg
            include icons/star.svg

        .event_text
          .title $20,000 guaranteed minimum donation required
          .subtitle Includes everything from One-Star Event, plus:
          .text
            | •   Remote event support for your event; if more than $25K minimum guaranteed donation a Special Forces veteran presents core messaging (10 min); a representative from YGN will attend your event as a handler/donation supervisor
            br
            | •   Sponsor/Donor recognition on all promotional materials and press release
            br
            | •   Customized video asset to be played at your event
            br


        .event.three-star
          .toggleIcon
            | +
          .name
            | THREE-STAR EVENT
          .stars
            include icons/star.svg
            include icons/star.svg
            include icons/star.svg

        .event_text
          .title $50,000 guaranteed minimum donation required
          .subtitle Includes everything from Two-Star Event, plus:
          .text
            | •   Dedicated pre-event and onsite support from YGN staff
            br
            | •   A trained Special Forces veteran will speak at your event, utilizing presentation messaging for the YGN transition program
            br
            | •   Presentation from a YGN board member
            br
            | •   Targeted press and marketing outreach by YGN
            br
            | •   Corporate sponsor support  customized for your event including a pre-or-post “meet & greet” photo op experience with a Special Forces veteran
            br
            | •   Customized “Thank You” notes from a Special Forces veteran presenter
            br
            | •   A signed Special Forces photograph for silent auction
            br
            | •   Support for auction marketing on the YGN website

        .event.four-star
          .toggleIcon
            | +
          .name
            | FOUR-STAR EVENT
          .stars
            include icons/star.svg
            include icons/star.svg
            include icons/star.svg
            include icons/star.svg

        .event_text
          .title $75,000 guaranteed minimum donation required
          .subtitle Includes everything from Three-Star Event, plus:
          .text
            | •   Rob O’Neill will deliver a keynote address at your event
            br
            | •   A VIP meet & greet/photo session with Rob O’Neill
            br
            | •   Three to five Signed Special Forces photographs for silent auction
            br
            | •   Recognition during your event by a YGN rep for all event sponsors and donors
            br
            | •   A customized “Thank You” note for all attendees signed by Rob O’Neill
            br

        .event.five-star
          .toggleIcon
            | +
          .name
            | FIVE-STAR EVENT
          .stars
            include icons/star.svg
            include icons/star.svg
            include icons/star.svg
            include icons/star.svg
            include icons/star.svg

        .event_text
          .title $125,000 guaranteed minimum donation required
          .subtitle Includes everything from Four-Star Event, plus:
          .text
            | •   Custom content created for your event
            br
            | •   Option to host additional sub-events, including a book signing with Rob O’Neill (late 2016)
            br
            | •   Private presentation for core group (50 people), golf outing, or hosted cocktail reception with journalist-led fireside chat
            br
            | •   With a guaranteed minimum donation of more the $125K, any level of customization is possible
            br



