doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  title YGN
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")

  script(src="javascripts/app.js")

  script.
    require('init');

body.host

  include pages/menu

  .host_view
    .left_side
      .bg
      .description
        .title HOST AN EVENT
        .text Hosting an event is great way to get involved with Your Grateful Nation. We can work with you to customize your event while maintaining the high standards of the organization. These fundraisers may range from the intimate at-home gathering to more formal receptions, but each is integral to the success of YGN and its efforts to enhance the lives of Special Forces veterans as they transition into their next successful career. We are so grateful for the support of individuals and businesses that recognize the value of our transition process and its tremendous benefits for our country’s heroes. 
        .text_italic To be an official YGN fundraising event, the host(s) must agree to a minimum required donation. It is the responsibility of the host(s) to ensure the minimum donation amount is met.
    
    .right_side
      .content
        .title EVENTS
        .text
          | As a nonprofit YGN manages its time and resources as efficiently as possible. We’ve outlined for our hosts what they can expect from YGN based on the donation level they are comfortable committing to. Below you’ll find tiers for event levels and the corresponding minimum donation amounts as well as the resources a host can expect from YGN at each level.
        
        .text
          | To learn more about the various event levels, or if you have questions about the requirements for each level, please reach out to us. We’re happy to work with you to make your event a huge success.
          
      
      .star_events
        .event.one-star
          .toggleIcon
            | +
          .name
            | ONE-STAR EVENT
          .stars
            include icons/star.svg
            
        .event.two-star
          .toggleIcon
            | +
          .name
            | TWO-STAR EVENT
          .stars
            include icons/star.svg
            include icons/star.svg
            
        .event.three-star
          .toggleIcon
            | +
          .name
            | THREE-STAR EVENT
          .stars
            include icons/star.svg
            include icons/star.svg
            include icons/star.svg
            
        .event.four-star
          .toggleIcon
            | +
          .name
            | FOUR-STAR EVENT
          .stars
            include icons/star.svg
            include icons/star.svg
            include icons/star.svg
            include icons/star.svg
            
        .event.five-star
          .toggleIcon
            | +
          .name
            | FIVE-STAR EVENT
          .stars
            include icons/star.svg
            include icons/star.svg
            include icons/star.svg
            include icons/star.svg
            include icons/star.svg
            
