doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  title YGN
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="../stylesheets/app.css")

  script(src="../javascripts/vendor.js")

  script(src="../javascripts/app.js")

  script.
    require('init');

body.blog

  include ../pages/menu

  .blog_view
    .blog_navigation
      .navigation-list
        .title
          | BLOG

        .navigation-item.navigation-itemActive
          a(href='#') ALL
        .navigation-item
          a(href='#') ARTICLES
        .navigation-item
          a(href='#') SOF VETS
        .navigation-item
          a(href='#') PODCASTS
        .navigation-item
          a(href='#') TESTIMONIALS

    .blog_posts
      .post.greatCities
        a.absolute(href="./post1.html")
        .bg
        .text
          .post_date
            | FEBRUARY 07
          .post_title
            | Where Should I Live and Work?
          .post_text
            | Transitioning your Special Forces military experience to the civilian world is never easy (as anyone who has handed a DD 214 to a civilian hiring manager already knows). Just deciding where to live can be daunting. 

      .post.jobsSof.post_titleActive
        a.absolute(href="./post2.html")
        .bg
        .text
          .post_date
            | FEBRUARY 07
          .post_title
            | Five Jobs That are a Great Fit for SOF Veterans
          .post_text
            | One of the biggest challenges for Special Forces veterans transitioning to civilian life is deciding the best career path. Monster.com and Indeed.com don’t have too many job listings for Green Berets or Navy SEALS, but they should. Special Forces’ transferrable skills are innumerable and fit a variety of occupations. 

    .blog_openedPost
      .openedPost-container
        .title
          | Where Should I Live and Work?

        .date
          | FEBRUARY 07

        .subtitle
          | Three Great Cities for Special Forces Veterans to Reenter Civilian Life

        .text
          | Transitioning your Special Forces military experience to the civilian world is never easy (as anyone who has handed a DD 214 to a civilian hiring manager already knows). Just deciding where to live can be daunting.

        .text
          | Should you move to a small town or a big city? Try the west coast or move to New England? Set up shop near where you were once stationed or head out for somewhere new? Some areas are perfect for Special Forces vets, while others still have a way to go. Don’t worry, though. We’ve got your six. (Well, three; we’ve got your six on three places to live).

        .text
          | We’ve picked three cities that are leading the way as SOF vet-friendly destinations. On the east coast, you have Virginia Beach, a city with a large veteran workforce and strong ties to the Special Forces community. A little further south, you’ll find Asheville, NC, where Special Forces vets can find jobs with veteran-owned employers or use their unique military experience and skills to initiate a successful start-up. On the West Coast we look at Irvine, CA, a city that combines excellent quality of life with a proven record of high-ceiling jobs for recently relocated Special Forces vets.
          | If you are about to transition to the civilian world, you couldn’t do much better than these three SOF-vet-friendly hotspots. And you could definitely do worse (sorry, Detroit).

        .subtitle
          | Virginia Beach, VA

        .text
          | Virginia Beach makes our top three for the large population of veterans in the workforce (among other reasons). There are roughly 60,000 veterans workers in an overall population of 325,000, which means you will be far from an anomaly when beginning your civilian job search in the area.
          | Area employers get it—they have veteran employees working for them already (it won’t be the first time they’ve seen a DD 214). Area hiring managers already know the benefits a Special Forces background brings. In fact, if you get a job in Virginia Beach, you may find yourself working for a veteran. Virginia Beach has 11.33 vet-owned businesses per 1,000 residents. The median veteran income ($51,154) is higher than civilians, too, while unemployment is lower. The Naval Special Warfare Development Group is based out of Virginia Beach. You can bet this makes the area SOF-vet friendly.

        .text
          | The proximity to Washington, DC can’t hurt, either. If you find it difficult to land a job in Virginia Beach, our nation’s capital is just a few hours’ drive away. There you’ll find a slew of government agencies and contractors looking for applicants with a security clearance already in hand from previous military service. The Professional Analysis roles those employers need to fill are often cited as top jobs for all veterans. You can bet your Special Forces experience will help you stand out in the stack of résumés.

        .subtitle
          | Asheville, NC

        .text
          | Further south, Asheville, North Carolina earns high marks, too. Don’t take our word for it; just ask one of the many veterans who already know this. Over 15% of area businesses in Asheville are veteran-owned: Veterans are moving to Asheville and establishing themselves as vet-friendly employers.
          | North Carolina is known for its Research Triangle, but veterans have recently found success outside of the science labs and universities. In fact, the area is becoming a breeding ground for start-ups, many owned by veterans. Special Forces veterans, in particular, make ideal entrepreneurs, as many in North Carolina have discovered. An area Green Beret and US Army Special Forces Officer recently launched a real-estate startup in Durham, while a pair of Iraq War veterans (and brothers) in Charlotte formed a startup with a classmate from Stanford Universty to help kids get a head start on their education.

        .text
          | SOF veterans looking for cities that combine excellent quality of life with a high career ceiling will do well to consider Asheville’s southern charm—and join the 11 vet-founded startups in the state, many founded by soldiers with Special Forces backgrounds.

        .subtitle
          | Irvine, CA

        .text
          | Interested in the beautiful weather and sandy beaches of the California? Good news: there’s a city in California that is considered one of the nation’s best places to live for vets joining the civilian workforce. Irvine, California is regularly cited as the most veteran-friendly city in the US; according to one study it also ranks third in the nation in terms of the lowest veteran unemployment rate.

        .text
          | The city outpaces many others by being an ideal place to not only find a job, but grow a career thanks to its high veteran income growth. It is regularly listed as being one of safest cities in America (of cities with more than 100,000 residents), perfect for Special Forces veterans and their families—and it’s less than 15 miles from that sand and surf of the Pacific Ocean.

        .text
          | Other better-known cities in the state like San Diego and Sacramento have also been listed in Top 10 listings of cities for veterans to live as well (particularly in terms of the environment, education, and health). But the cost of living in Irvine is significantly more affordable, and being a quick jaunt to the beautiful Pacific as well as just 40 miles from Los Angeles certainly doesn’t hurt, either.

        .subtitle
          | The Bottom Line

        .text
          | Virginia Beach, Asheville, and Irvine are top destinations for Special Forces veterans making their transition to the civilian world. Although other areas are certainly attractive (Austin, Texas, Scottsdale, Arizona, and Orlando, Florida are highly ranked, too) the three cities we’ve highlighted here have something in common: employers in these areas are learning the advantages of hiring veterans of all stripes—including Special Forces vets. 

        .text
          | Now that veterans are turning to these cities to begin their civilian careers, area employers are waking up to the benefits of hiring candidates with Special Forces experience. Hiring managers are interviewing, recruiting, and developing more veterans than their counterparts in other cities—and reaping the rewards as a result. Your past Special Forces experience will be seen as an advantage in any of these vet-friendly locations.

        .image
          img(src='images/soldier.jpg')


