doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  title YGN
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")

  script(src="javascripts/app.js")

  script.
    require('init');

body.blog

  include pages/menu

  .blog_view
    .blog_navigation
      .navigation-list
        .title
          | BLOG

        .navigation-item.navigation-itemActive
          a(href='#') ALL
        .navigation-item
          a(href='#') ARTICLES
        .navigation-item
          a(href='#') SOF VETS
        .navigation-item
          a(href='#') PODCASTS
        .navigation-item
          a(href='#') TESTIMONIALS

    .blog_posts
      .post.greatCities
        a.absolute(href="./post2.html")
        .bg
        .text
          .post_date
            | FEBRUARY 07
          .post_title
            | Where Should I Live and Work?
          .post_text
            | Transitioning your Special Forces military experience to the civilian world is never easy (as anyone who has handed a DD 214 to a civilian hiring manager already knows). Just deciding where to live can be daunting. 

      .post.jobsSof.post_titleActive
        a.absolute(href="./post1.html")
        .bg
        .text
          .post_date
            | FEBRUARY 07
          .post_title
            | Five Jobs That are a Great Fit for SOF Veterans
          .post_text
            | One of the biggest challenges for Special Forces veterans transitioning to civilian life is deciding the best career path. Monster.com and Indeed.com don’t have too many job listings for Green Berets or Navy SEALS, but they should. Special Forces’ transferrable skills are innumerable and fit a variety of occupations. 

    .blog_openedPost
      .openedPost-container

        .image
          img(src='images/post2.jpg')

        .title
          | Five Jobs That are a Great Fit for SOF Veterans

        .date
          | FEBRUARY 07

        .text
          | One of the biggest challenges for Special Forces veterans transitioning to civilian life is deciding the best career path. Monster.com and Indeed.com don’t have too many job listings for Green Berets or Navy SEALS, but they should. Special Forces’ transferrable skills are innumerable and fit a variety of occupations.

        .text
          | Just because you may not be able to find suitable jobs for your expertise on “civilian” job sites doesn’t mean those jobs aren’t out there for SOF vets. With your desirable skill set, you can find meaningful, well-paying positions that are in line with your long-term goals. You won’t have to start at the bottom in a new industry either. In fact, Special Forces vets already possess many of the skills employers are looking for when they seek to fill high-level professional positions. 

        .text
          | Veterans are launching careers in a wide range of industries, in fields as diverse as office management and disaster recovery. Of course, everyone is different—strengths, interests, experience—but Special Forces vets do share many of the same traits that make them ideal candidates for certain occupations. When you’re ready to start your civilian job search, you might want to consider one of these five jobs that we’ve identified as ideal for SOF vets.

        .subtitle
          | 1. Manager

        .text
          | It’s no coincidence that Business Insider lists management roles as four of their top 10 positions for veterans. The same team-building, project oversight, and resource-control skills Special Forces vets honed on a daily basis during their service are indispensable in management roles. 

        .text
          | Maybe this is why Special Forces experience is being touted by many as “better than an MBA.” Program, development, and administration managers are needed in a wide of industries, from construction companies to Fortune-500 corporations. All need proactive, experienced leaders who can think on their feet in high-pressure situations. Your SOF background gives you a proven track record in all of these areas.

        .subtitle
          | 2. Information Technology Executive

        .text
          | CNN recently reported that veterans are “at least twice as likely as civilians to hold certain high paying jobs” after transitioning to the civilian workforce. Three of the five jobs in the referenced PayScale study point to jobs that are technology-driven.

        .text
          | Why are veterans so adept at tech jobs? It might have something to do with being trained on, using, and helping to develop cutting-edge technology on a daily basis. Special Forces vets joining the civilian workforce often go far beyond IT help desks. Executive-level positions, like VP of Technology and Chief Information Security Officer, require candidates who can combine team leadership with proven technical expertise. These are inherent characteristics of most SOF vets.

        .subtitle
          | 3. Professional Analyst

        .text
          | Being a successful information, logistics, or systems analyst takes an exceptional amount of critical thinking, data management, and resource coordination skills. Having honed competencies these through years of service, SOF vets are able to position themselves as ideal candidates for analyst roles.

        .text
          | A high-level security clearance gives you a leg up on civilian candidates who have not yet been vetted. Government agencies, contractors, and private employers will also appreciate the pride and discipline you bring to these detail-oriented roles (you might even consider applying for an “Irregular Warfare Analyst” role).

        .subtitle
          | 4. Security Consultant

        .text
          | Why overlook what you have done so well for so long when beginning your civilian career search? Private security companies certainly won't overlook your experience. When civilian companies need someone to watch their six, they turn to Special Forces vets.

        .text
          | These companies see your years—even decades—of advanced training, success in the field, and disciplined preparations as invaluable. In fact, they have been offering top-dollar for SOF veteran protection for over a decade. They’re willing to pay what you’re worth because they know they can rely on you to flex your training skills to help keep their employees safe.

        .subtitle
          | 5. Disaster Response Specialist

        .text
          | Few can keep their wits about them in an emergency like members of the Special Forces. After you’ve seen combat, civilian disasters might make you yawn or shrug, but your expertise will put many a mind at east. That’s why Disaster Response and Crisis Management is a perfect fit.

        .text
          | SOF vets have been in situations that make the most stressful day in the civilian workforce feel like a walk in the park. Government agencies like FEMA are willing to pay top-dollar for that kind of expertise (to the tune of $80-$100K per year) while civilian employers like the Red Cross need the leadership skills you have sharpened during years of service. Disaster Response and Crisis Management positions appeal to SOF vets with an allergic reaction to boredom, and will leave you with a sense of having accomplished something real and meaningful at the end of your day.

