doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  title YGN
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, minimal-ui, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")

  script(src="javascripts/app.js")

  script.
    require('init');

body.blog

  include pages/menu

  .blog_view
    .blog_navigation
      .navigation-content
        .navigation-title
          | BLOG
          
          .button-all
            | ALL
            include icons/all.svg
          
        .navigation-list
          .navigation-item.navigation-itemActive
            a(href='./post1.html') ALL
          .navigation-item
            a(href='./soon.html') ARTICLES
          .navigation-item
            a(href='./soon.html') SOF VETS
          .navigation-item
            a(href='./soon.html') PODCASTS
          .navigation-item
            a(href='./soon.html') TESTIMONIALS

    .blog_posts
      .blog_scroll
        .post.greatCities
          a.absolute(href="./post2.html")
          .bg
          .text
            .post_date
              | FEBRUARY 07
            .post_title
              | Where Should I Live and Work?
            .post_text
              | Transitioning your Special Forces military experience to the civilian world is never easy (as anyone who has handed a DD 214 to a civilian hiring manager already knows). Just deciding where to live can be daunting. 

        .post.jobsSof
          a.absolute(href="./post1.html")
          .bg
          .text
            .post_date
              | FEBRUARY 07
            .post_title
              | Five Jobs That are a Great Fit for SOF Veterans
            .post_text
              | One of the biggest challenges for Special Forces veterans transitioning to civilian life is deciding the best career path. Monster.com and Indeed.com don’t have too many job listings for Green Berets or Navy SEALS, but they should. Special Forces’ transferrable skills are innumerable and fit a variety of occupations. 

        .post.networking-tips.post_titleActive
          a.absolute(href="./post3.html")
          .bg
          .text
            .post_date
              | FEBRUARY 07
            .post_title
              | Three Networking Tips for Special Operations Veterans
            .post_text
              | We’ve all heard the old saying about success: “It’s not what you know, it’s who you know.” It’s as true for landing a job as it is for climbing the professional ladder. 

        .post.reasons-entrepreneurs
          a.absolute(href="./post4.html")
          .bg
          .text
            .post_date
              | FEBRUARY 07
            .post_title
              | Four Reasons Special Operations Vets are Ideal Entrepreneurs
            .post_text
              | Launching a small business or being a career entrepreneur has been compared to an ultramarathon. But maybe a five-round Ultimate Fighting championship match might be a better descriptor. 

    .blog_openedPost
      .openedPost-container

        .image
          img(src='images/networking.jpg')

        .title
          | Three Networking Tips for Special Operations Veterans

        .date
          | FEBRUARY 07

        .text
          | We’ve all heard the old saying about success: “It’s not what you know, it’s who you know.” It’s as true for landing a job as it is for climbing the professional ladder. 

        .text
          | After years of learning and applying your Special Operations training, and hands-on experience using cutting-edge technology, you’ve got the “what you know” part down. In the civilian job market, though, that’s just not enough. You can polish your resumé until it shines like your boots, but these days it’s all about who you know—it’s all about networking. 

        .text
          | We’re here to give you a head start on the competition. Follow our three networking tips for Special Operations veterans, and the “who-you-know” part will take care of itself. 

        .subtitle
          | Make Networking a Priority

        .text
          | Scrolling through Craigslist, Monster.com, and CareerBuilder.com can only take you so far. Some experts estimate that 70-80% of all jobs are not advertised or posted. How are they being filled, you might ask? It’s easy: personal connections. As many as 80% of jobs are landed through networking. If you aren’t actively networking, you are competing with the other faceless applicants to try to make it in that 20% window.
          | So hit the ground running.
          | Until you land a job, looking for work is your next mission. Prepare and execute. Give yourself an advantage by getting your resumé in shape for civilian employers. Know that finding a job is largely a numbers game. Successful networking means making 100 contacts a month—by email, LinkedIn, in person, over the phone, through social media or on job boards. 

        .text
          | This may sound like a lot, but spread out over a month that’s just over three contacts a day. People switching careers often take longer to find new positions, so you might want to think about upping your networking game from the start (and maybe increasing from three contacts a day to five or six).

        .subtitle
          | Get Online Now

        .text
          | The days of circling a job in the want ads and mailing in a resumé are long gone. A LinkedIn profile is the new resumé. The site boasts 414 million members, and is a great place to connect with professionals, apply for jobs, and make yourself known to recruiters. 

        .text
          | LinkedIn is also good for more than just endorsing former co-workers: according to one study of 100,000 profiles, LinkedIn is the social media platform appearing most often in Google searches. With up to 77% of employers Googling their potential new hires, this gives you a great opportunity to make a solid first impression—or make them throw your resumé in the recycling bin if your search result is…less than ideal. A little common sense goes a long way.
          | But don’t end your online networking with LinkedIn. Narrow your search. Although LinkedIn is a must for any professional, you can increase your odds of connecting in a certain field by also joining profession-specific networking websites. Websites like GitHub, GrabCad, Kaggle, and Doximity allow current and aspiring software engineers, mechanical engineers, data scientists, and doctors to connect with like-minded professionals. 
          | But don’t stop there. Your military service already puts you at an advantage when you join RallyPoint, a professional social networking site specifically for veterans. RallyPoint has over half a million members, and recently attracted a co-founder of LinkedIn to join its board of directors. That’s not a bad place to start connecting online. 

        .subtitle
          | Use Your Resources

        .text
          | You may feel like you are starting your civilian job search all by yourself. That doesn’t have to be the case. Reach out to people you have served with in your career, both those inside the military and in the private sector as well. Your friends and family can become part of your professional network. Military, civilian, and even religious groups can act as valuable networking resources. 
          | Some employers view your military service as your biggest asset, so make sure to reach out to companies with vet-friendly hiring practices. Visit Department of Labor’s Veteran Employment website to find local networking groups specifically tailored for those with your background.
          | Of course, don’t forget to check in with us at YGN to see what we can do to help you in your job search.

        .subtitle
          | The Bottom Line

        .text
          | Transitioning from the military to the private sector can be a daunting task, and frustrated vets often throw hundreds of resumés into the online void without getting a single interview. Why? Without networking, which accounts for as much as 80% of new hires, you are competing with all the other anonymous applicants for the remaining 20% of the jobs. 

        .text
          | So follow our three networking tips. It’s not brain surgery, but it’s a leg up on others who don’t take the time to properly prepare when they embark on the search for a new career. Make networking a priority from day one of your job search. Get online, get social, and use your existing resources. It’s all about who you know, and that extra LinkedIn endorsement, personal recommendation, or random encounter at a networking event may make all the difference.
