doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  title YGN
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")

  script(src="javascripts/app.js")

  script.
    require('init');

body.soon.visible

  include pages/menu

  .main_slide

    .vide_wrapper

    .social_icons
      i.icon-facebook
        a.absolute(href="https://www.facebook.com/YGNationorg")
      i.icon-twitter
        a.absolute(href="https://twitter.com/YourGratfulNatn")
      i.icon-linkedin
        a.absolute(href="https://www.linkedin.com/company/your-grateful-nation")


    .logo
      include /icons/logo_white.svg
    .subtitle Comming soon
