doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  title YGN
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")

  script(src="javascripts/app.js")

  script.
    require('init');

body.transition

  .badge
    include icons/badge.svg
    a.absolute(href="index.html")


  a.apply_link(href="#") APPLY

  .toggle_menu
    span
    span
    span

  .menu.split
    .left_side
      .donate
        .bg
        span Donate
        a.absolute(href="https://web.charityengine.net/default.aspx?tsid=6142&DisableAppMetaCache=1" target="_blank")

      .participate
        .bg
        span SPECIAL FORCES <br/> VETERANS
        a.absolute(href="./transition.html")

      .support
        .bg
        span Supporters
        a.absolute(href="./supporter.html")


    .right_side

      .social_icons
        i.icon-facebook
          a.absolute(href="https://www.facebook.com/YGNationorg")
        i.icon-twitter
          a.absolute(href="https://twitter.com/YourGratfulNatn")
        i.icon-linkedin
          a.absolute(href="https://www.linkedin.com/company/your-grateful-nation")

      .logo
        include icons/logo.svg


      .links
        a(href="./challenge.html") The Challenge
        a(href="./transition.html") YGN TRANSITION PROCESS
        a(href="./corporate-partners.html") Corporate partners
        a(href="./events.html") Events
        a(href="./blog.html") BLOG

      .sublinks
        a(href="./contact.html") Contact
        a(href="./directors.html") Board of directors
        a(href="./corporate-partners.html") Corporate partners
        a(href="./press.html") Press




  .transition_view
    .bg

    .title YGN TRANSITION PROCESS
    .title_2 YGN TRANSITION PROCESS
    .subtitle Learn more about our world class process and take the first step to your next great career. Learn more about our world class process and take the first step to your next great career.

    .next_arrow
      include icons/arrow.svg


    .phases_block
      .phases
        .phase.phase_1
          .number PHASE 1:
          .name ASSESS
        .phase.phase_2
          .number PHASE 2:
          .name EXPLORE
        .phase.phase_3
          .number PHASE 3:
          .name EXPLORE
        .phase.phase_4
          .number PHASE 4:
          .name EXECUTE

      .content
        .phase_content.phase_1
          .phase_title
            .word PHASE
            .number 1
          .phase_text
            .title ASSESS
            .text
              p First, let us get to know you. Record your personal information as well as your interests and skills including, but not limited to, your education, military, and personal background.  You will also evaluate your hard and soft skill sets introspectively, and will complete a DISC assessment to better inform career matches based on your personality.  The Assess step concludes with a compiled Candidate Profile that will assist the candidate as well as YGN handlers and mentors. The Assess step concludes with a compiled Candidate Profile that will assist the candidate as well as YGN handlers and mentors and other such.
          .right_arrow
            .arrow
              include icons/right-arrow.svg


      .steps
        .step.step_1
          .number STEP 1:
          .name ASSESS
        .step.step_2
          .number STEP 2:
          .name INTERESTS
        .step.step_3
          .number STEP 3:
          .name SKILLS
        .step.step_4
          .number OUTCOME
          .name CANDIDATE PROFILE



