.badge
  include ../icons/badge.svg
  a.absolute(href="index.html")


a.donate_link(href="#") DONATE

.toggle_menu
  span
  span
  span

.menu.split
  .left_side
    .donate
      .bg
      span Donate

    .participate
      .bg
      span SPECIAL FORCES <br/> VETERANS

    .support
      .bg
      span Supporters
      a.absolute(href="supporter.html")


  .right_side

    .social_icons
      i.icon-facebook
      i.icon-twitter
      i.icon-linkedin

    .logo
      include ../icons/logo.svg


    .links
      a(href="#") The Challenge
      a(href="#") Events
      a(href="#") SOF VETS
      a(href="#") BLOG

    .sublinks
      a(href="#") Contact
      a(href="#") Board of directors
      a(href="#") Corporate sponsors
      a(href="#") Press
      a(href="#") Privacy policy
      a(href="#") Terms of use



