.badge
  include ../icons/badge.svg
  a.absolute(href="./index.html")


a.donate_link(href="https://web.charityengine.net/default.aspx?tsid=6142&DisableAppMetaCache=1" target="_blank") DONATE

.toggle_menu
  span
  span
  span

.menu.split
  .left_side
    .donate
      .bg
      span DONATE
      a.absolute(href="https://web.charityengine.net/default.aspx?tsid=6142&DisableAppMetaCache=1" target="_blank")

    .participate
      .bg
      span SPECIAL FORCES <br/> VETERANS
      a.absolute(href="./transition.html")

    .support
      .bg
      span SUPPORTERS
      a.absolute(href="./supporter.html")


  .right_side

    .social_icons
      i.icon-facebook
        a.absolute(href="https://www.facebook.com/YGNationorg")
      i.icon-twitter
        a.absolute(href="https://twitter.com/YourGratfulNatn")
      i.icon-linkedin
        a.absolute(href="https://www.linkedin.com/company/your-grateful-nation")

    .logo
      include ../icons/logo.svg


    .links
      a(href="./challenge.html") The Challenge
      a(href="./transition.html") YGN TRANSITION PROCESS
      a(href="./corporate-partners.html") Corporate partners
      a(href="./events.html") Events
      a(href="./post1.html") BLOG

    .sublinks
      a(href="./contact.html") Contact
      a(href="./directors.html") Board of directors
      a(href="./corporate-partners.html") Corporate partners
      a(href="./press.html") Press



