.main_slide

  .vide_wrapper

  .social_icons
    .icon
      i.icon-facebook
      a.absolute(href="https://www.facebook.com/YGNationorg")
    .icon
      i.icon-twitter
      a.absolute(href="https://twitter.com/YourGratfulNatn")
    .icon
      i.icon-linkedin
      a.absolute(href="https://www.linkedin.com/company/your-grateful-nation")


  .logo
    include ../icons/logo_white.svg
  .subtitle CONNECT SPECIAL FORCES VETERANS WITH <br> COMPANIES TO HELP GROW THE U.S. ECONOMY

  .brand_video
    | BRAND VIDEO


