.fifth_slide

  .content
    .title WHY WE DO IT.
    .text
      p Our SOF heroes should not—and cannot—be forgotten. They have earned more than our gratitude and our respect; they deserve our full support as they embark on lives outside of military service.
      br
      p Their missions were often perilous, and despite their bravery in the face of extreme adversity, their commitment to our country never wavered—even if the outcome of their mission was uncertain. We believe that our commitment to them when they are ready for civilian life should also be unwavering, and that their futures should never be uncertain.
      br
      p We are committed to providing the training and resources necessary to assist our SOF vets because they should have the same opportunities for success in corporate America as they did while putting their lives on the line for our country.


  .actions
    .participate
      .bg
      span SPECIAL FORCES <br/> VETERANS
      a.absolute(href="./transition.html")
    .or
      | OR
    .support
      .bg
      span SUPPORTERS
      a.absolute(href="./supporter.html")