.third_slide
  .video_wrapper
    //- .title
    //-   | video title
    //- .controls
    //-   .play
    //-     include ../icons/circle-arrow.svg
    //- video(preload="preload")
    //-   source(src='videos/burcham.mp4' type='video/mp4')
    //-   source(src='videos/burcham.webm' type='video/webm')
