.second_slide.split
  .left_side
    .bg_1
    .bg_2
    .bg_3

  .right_side
    .scroller
      .scroller_section.who_we_are
        .content
          .title WHO WE ARE
          .text.intro
            p Your Grateful Nation (YGN) is a non-profit organization committed to transitioning Special Operations Forces (SOF) veterans into their next successful career.

          .button.more
            | more

          .text.long
            p Your Grateful Nation was created by a group of industry leaders and veterans committed to providing support, guidance, and a clear roadmap for our military heroes as they enter the next phase of their lives.
            p We believe that those who have risked their lives for our country’s freedom deserve our support when they are ready to reenter civilian life. YGN offers a variety of services to make the transition from the “battlefield to the boardroom” smoother for them.


          .close
            include ../icons/close_icon.svg



      .scroller_section.illustration
        .bg_1
        .bg_2

      .scroller_section.what_we_do
        .content
          .title WHAT WE DO
          .text.intro
            p Your Grateful Nation (YGN) is a non-profit organization committed to transitioning Special Operations Forces (SOF) veterans into their next successful career.

          .button.more
            | more

          .text.long
            p Your Grateful Nation was created by a group of industry leaders and veterans committed to providing support, guidance, and a clear roadmap for our military heroes as they enter the next phase of their lives.
            p We believe that those who have risked their lives for our country’s freedom deserve our support when they are ready to reenter civilian life. YGN offers a variety of services to make the transition from the “battlefield to the boardroom” smoother for them.


          .close
            include ../icons/close_icon.svg






