.fourth_slide.split
  .left_side
    .scroller
      .scroller_section.how_we_do
        .content
          .title HOW WE DO IT
          .text.intro
            p Through a process that assesses, explores, and activates our SOF veterans’ unique talents and capabilities, we work with companies to successfully transition these heroes into fulfilling corporate careers.

          .button.more
            | more

          .text.long
            p We assist SOF vets with their transition from military service to their next career. Through a process and curriculum developed especially for our Special Operations Forces, YGN empowers our heroes to find fulfilling careers in corporate America.
            br
            p Our step-by-step Special Operations Forces’ transition program includes assessments, mentoring, and one-on-one consultations with industry leaders to motivate our veterans to succeed in today’s competitive job market. Beyond finding a great job, SOF vets deserve our help to acclimate to civilian life. We’re here to offer a full-service support system to make that happen.


          .close
            include ../icons/close_icon.svg



      .scroller_section.illustration

  .right_side
    .bg_1


